Package: xyz.turannul.pxlbattery
Name: PXL Battery
Depends: mobilesubstrate, ws.hbang.common
Version: 0.0.7~prerelease
Architecture: iphoneos-arm
Description: Battery indicator (and themer?) - Expect some bugs
Maintainer: turannul
Author: turannul x Randy420
Section: Tweaks
