Package: xyz.turannul.pxlbattery
Name: PXL Battery
Depends: mobilesubstrate, ws.hbang.common
Version: 0.0.5~prerelease
Architecture: iphoneos-arm
Description: Battery indicator (maybe themer?) - Expect some bugs
 %20< views not colored.
 Preferences upcoming.
 Views Screwed :(
Maintainer: turannul
Author: turannul x Randy420
Section: Tweaks
