<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Battery Percent</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>xyz.turannul.pxlbattery.settingschanged</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>xyz.turannul.pxlbattery</string>
			<key>isSegmented</key>
			<true/>
			<key>key</key>
			<string>ChargePercent</string>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<integer>0</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>reset</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>Alert.png</string>
			<key>label</key>
			<string>Reset Prefs</string>
		</dict>
	</array>
</dict>
</plist>
