<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>id</key>
            <string>group_1</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>xyz.turannul.pxlbattery.settingschanged</string>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>xyz.turannul.pxlbattery</string>
            <key>id</key>
            <string>swtch_enabled</string>
            <key>key</key>
            <string>pxlEnabled</string>
            <key>label</key>
            <string>Enabled</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>id</key>
            <string>group_2</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>xyz.turannul.pxlbattery.settingschanged</string>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>xyz.turannul.pxlbattery</string>
            <key>id</key>
            <string>swtch_custom_ticks</string>
            <key>key</key>
            <string>SingleColorMode</string>
            <key>label</key>
            <string>Custom Tick color</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>id</key>
            <string>group_3</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>xyz.turannul.pxlbattery.settingschanged</string>
            <key>defaults</key>
            <string>xyz.turannul.pxlbattery</string>
            <key>id</key>
            <string>battery_color</string>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>cellClass</key>
            <string>SparkColourPickerCell</string>
            <key>libsparkcolourpicker</key>
            <dict>
                <key>defaults</key>
                <string>xyz.turannul.pxlbattery</string>
                <key>fallback</key>
                <string>#FFFFFF</string>
                <key>alpha</key>
                <true/>
                <key>PreviewGradient</key>
                <false/>
            </dict>
            <key>key</key>
            <string>BatteryColor</string>
            <key>label</key>
            <string>Battery Color</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>xyz.turannul.pxlbattery.settingschanged</string>
            <key>defaults</key>
            <string>xyz.turannul.pxlbattery</string>
            <key>id</key>
            <string>tick_1</string>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>cellClass</key>
            <string>SparkColourPickerCell</string>
            <key>libsparkcolourpicker</key>
            <dict>
                <key>defaults</key>
                <string>xyz.turannul.pxlbattery</string>
                <key>fallback</key>
                <string>#FF0000</string>
                <key>alpha</key>
                <true/>
                <key>PreviewGradient</key>
                <false/>
            </dict>
            <key>label</key>
            <string>Tick 1</string>
            <key>key</key>
            <string>Bar1</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>xyz.turannul.pxlbattery.settingschanged</string>
            <key>defaults</key>
            <string>xyz.turannul.pxlbattery</string>
            <key>id</key>
            <string>tick_2</string>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>cellClass</key>
            <string>SparkColourPickerCell</string>
            <key>libsparkcolourpicker</key>
            <dict>
                <key>defaults</key>
                <string>xyz.turannul.pxlbattery</string>
                <key>fallback</key>
                <string>#FF8000</string>
                <key>alpha</key>
                <true/>
                <key>PreviewGradient</key>
                <false/>
            </dict>
            <key>label</key>
            <string>Tick 2</string>
            <key>key</key>
            <string>Bar2</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>xyz.turannul.pxlbattery.settingschanged</string>
            <key>defaults</key>
            <string>xyz.turannul.pxlbattery</string>
            <key>id</key>
            <string>tick_3</string>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>cellClass</key>
            <string>SparkColourPickerCell</string>
            <key>libsparkcolourpicker</key>
            <dict>
                <key>defaults</key>
                <string>xyz.turannul.pxlbattery</string>
                <key>fallback</key>
                <string>#FFFF00</string>
                <key>alpha</key>
                <true/>
                <key>PreviewGradient</key>
                <false/>
            </dict>
            <key>label</key>
            <string>Tick 3</string>
            <key>key</key>
            <string>Bar3</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>xyz.turannul.pxlbattery.settingschanged</string>
            <key>defaults</key>
            <string>xyz.turannul.pxlbattery</string>
            <key>id</key>
            <string>tick_4</string>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>cellClass</key>
            <string>SparkColourPickerCell</string>
            <key>libsparkcolourpicker</key>
            <dict>
                <key>defaults</key>
                <string>xyz.turannul.pxlbattery</string>
                <key>fallback</key>
                <string>#80FF00</string>
                <key>alpha</key>
                <true/>
                <key>PreviewGradient</key>
                <false/>
            </dict>
            <key>label</key>
            <string>Tick 4</string>
            <key>key</key>
            <string>Bar4</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>xyz.turannul.pxlbattery.settingschanged</string>
			<key>defaults</key> <!-- This key fixes creating <(null)>.plist -->
            <string>xyz.turannul.pxlbattery</string>
            <key>id</key>
            <string>tick_5</string>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>cellClass</key>
            <string>SparkColourPickerCell</string>
            <key>libsparkcolourpicker</key>
            <dict>
				<key>defaults</key> <!-- This key fixes creating BatteryColor.plist -->
                <string>xyz.turannul.pxlbattery</string>
                <key>fallback</key>
                <string>#00FF00</string>
                <key>alpha</key>
                <true/>
                <key>PreviewGradient</key>
                <false/>
            </dict>
            <key>label</key>
            <string>Tick 5</string>
            <key>key</key>
            <string>Bar5</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>xyz.turannul.pxlbattery.settingschanged</string>
			<key>defaults</key> <!-- This key fixes creating <(null)>.plist -->
            <string>xyz.turannul.pxlbattery</string>
            <key>id</key>
            <string>low_battery_color</string>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>cellClass</key>
            <string>SparkColourPickerCell</string>
            <key>libsparkcolourpicker</key>
            <dict>
				<key>defaults</key> <!-- This key fixes creating LowBatteryColor.plist -->
                <string>xyz.turannul.pxlbattery</string>
                <key>fallback</key>
                <string>#EA3323</string>
                <key>alpha</key>
                <true/>
                <key>PreviewGradient</key>
                <false/>
            </dict>
            <key>label</key>
            <string>Low Battery Color</string>
            <key>key</key>
            <string>LowBatteryColor</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>xyz.turannul.pxlbattery.settingschanged</string>
			<key>defaults</key> <!-- This key fixes creating <(null)>.plist -->
            <string>xyz.turannul.pxlbattery</string>
            <key>id</key>
            <string>low_power_mode_color</string>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>cellClass</key>
            <string>SparkColourPickerCell</string>
            <key>libsparkcolourpicker</key>
            <dict>
				<key>defaults</key> <!-- This key fixes creating LowPowerModeColor.plist -->
                <string>xyz.turannul.pxlbattery</string>
                <key>fallback</key>
                <string>#FFCC02</string>
                <key>alpha</key>
                <true/>
                <key>PreviewGradient</key>
                <false/>
            </dict>
            <key>label</key>
            <string>Low Power Mode Color</string>
            <key>key</key>
            <string>LowPowerModeColor</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>xyz.turannul.pxlbattery.settingschanged</string>
			<key>defaults</key> <!-- This key fixes creating <(null)>.plist -->
            <string>xyz.turannul.pxlbattery</string>
            <key>id</key>
            <string>charging_color</string>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>cellClass</key>
            <string>SparkColourPickerCell</string>
            <key>libsparkcolourpicker</key>
                <dict>
					<key>defaults</key> <!-- This key fixes creating ChargingColor.plist -->
					<string>xyz.turannul.pxlbattery</string>
					<key>fallback</key>
					<string>#00FF0C</string>
					<key>alpha</key>
					<true/>
					<key>PreviewGradient</key>
					<false/>
				</dict>
			<key>label</key>
			<string>Charging Color</string>
			<key>key</key>
			<string>ChargingColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
            <key>id</key>
            <string>group_4</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerText</key>
            <string>Made with ❤️</string>
            <key>id</key>
            <string>group_5</string>
        </dict>
        <dict>
            <key>action</key>
            <string>SourceCode</string>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>icon</key>
            <string>Github.png</string>
            <key>label</key>
            <string>View source code</string>
            <key>id</key>
            <string>source_code</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>id</key>
            <string>group_6</string>
        </dict>
        <dict>
            <key>action</key>
            <string>Twitter</string>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>icon</key>
            <string>Twitter.png</string>
            <key>id</key>
            <string>follow_twitter</string>
            <key>label</key>
            <string>Follow on Twitter</string>
        </dict>
        <dict>
            <key>action</key>
            <string>DonateMe</string>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>icon</key>
            <string>CashApp.png</string>
            <key>id</key>
            <string>contribute_coffee</string>
            <key>label</key>
            <string>Contribute a Coffee</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>id</key>
            <string>group_7</string>
        </dict>
        <dict>
            <key>action</key>
            <string>RandyTwitter</string>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>icon</key>
            <string>Twitter.png</string>
            <key>id</key>
            <string>follow_randy</string>
            <key>label</key>
            <string>Follow Randy420 on Twitter</string>
        </dict>
        <dict>
            <key>action</key>
            <string>DonatetoRandy420</string>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>icon</key>
            <string>PayPal.png</string>
            <key>label</key>
            <string>Donate to Randy420</string>
            <key>id</key>
            <string>donate_randy</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>id</key>
            <string>group_8</string>
        </dict>
        <dict>
            <key>action</key>
            <string>resetPrefs</string>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Restore Defaults</string>
            <key>id</key>
            <string>restore_defaults</string>
        </dict>
    </array>
</dict>
</plist>